@(entryForm: Form[EntryData])(implicit request: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)

@main("create an entry") {
  
  
  @helper.form(action = routes.Instrument.submit()) {
    
  <fieldset>
    <!-- Header -->
    <div id="legend">
      <legend>Student Data</legend>
    </div>
      
      @helper.inputText(entryForm("reading"), 'class -> "form-control")
  	  

      @helper.inputText(
        entryForm("readingDate"),
        'id -> "datepicker",
        'class -> "form-control"
      )
      
      @helper.select(
        field = entryForm("readingTime"),
        options = Seq(
          "1" -> "morning",
          "2" -> "afternoon",
          "3" -> "night"), 
        'class -> "form-control"
      )

      @helper.select(
    	  field = entryForm("nutrition"),
    	  options = Seq(
          "1" -> "poor",
          "2" -> "adequate",
          "3" -> "good"), 
        'class -> "form-control"
      )

      @helper.checkbox(
        field = entryForm("exercise"),
        'class -> "form-control checkbox-inline"
      )
      
      
      <br />
      <input type="submit" class="btn btn-default" />
   </fieldset>
  }


}