@(entries: List[Entry])

@main("Entries") {
  <h4>Entries: @entries.size</h4>
  <table class="table">
    <tr>

  	  <th>date</th>
  	  <th>reading time</th>
  	  <th>reading</th>
  	  <th>nutrition</th>
  	  <th>exercise</th>
  	  
  	  <th/>
    </tr>
 
	@entries.map{entry =>
	  <tr>
		
		<td>@entry.readingDate</td>
				<td>
		@entry.readingTime match {
			case 1 => { morning }
			case 2 => { afternoon }
			case 3 => { evening }
			case _ => { NA }
	    }
		</td>
		
		<td>@entry.reading</td>
		
		<td>
		@entry.nutrition match {
			case 1 => { poor }
			case 2 => { adequate }
			case 3 => { good }
			case _ => { NA }
		}
		</td>

		<td>
		@entry.exercise match {
			case false => { no }
			case true => { yes }
		}
		</td>

		<td>
		  <a href="/entries/@entry.id/delete" method="GET" class="btn btn-link">
		    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
			delete
		  </a>
	    </td>
	  </tr>
	}
  </table>
  <a href="@routes.Instrument.create" class="btn btn-link">Add Entry</a>
}