@(entries: List[Entry], averages: helpers.Averages, page: Int)(implicit request: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)

@nav("Entries", true) {
  @flash.get("success") match {
    case Some(s) => { <div class="alert alert-success" role="alert">@s</div>}
    case None => { }
  } 
  @flash.get("error") match {
    case Some(e) => { <div class="alert alert-danger" role="alert"> @e </div> }
    case None => { }
  }
  <div class="panel panel-default">
    <div class="panel-heading">
        <h4>Average MG/DL</h4>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>total</th>
          <th>morning</th>
          <th>afternoon</th>
          <th>evening</th>
        </tr>
        <tr>
          <td>@averages.total</td>
          <td>@averages.morning</td>
          <td>@averages.noon</td>
          <td>@averages.evening</td>
        </tr>
      </thead>
    </table>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Readings</h4>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>date</th>
          <th>reading time</th>
          <th>reading</th>
          <th>weight</th>
          <th>nutrition</th>
          <th>exercise</th>
          <th/>
        </tr>
      </thead>
      <tbody>
        @entries.map { entry =>
          <tr> 
            <td>@entry.readingDate</td>
            <td>@entry.readingTime match {
              case 1 => {morning}
              case 2 => {afternoon}
              case 3 => {evening}
              case _ => {NA}
              }</td>
            <td>@entry.reading</td>
            <td>@entry.weight</td>
            <td>@entry.nutrition match {
              case 1 => {poor}
              case 2 => {adequate}
              case 3 => {good}
              case _ => {NA}
            }</td>
            <td>@entry.exercise match {
              case false => {no}
              case true => {yes}
            }</td>
            <td>
              <a href="/entries/@entry.id/edit" method="GET" class="btn btn-link">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              </a>
              <a href="/entries/@entry.id/delete" method="GET" class="btn btn-link">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              </a>
            </td>
          </tr>
        }
      </tbody>  
    </table> 
    <a href="@routes.Instrument.create" class="btn btn-default">Add Entry</a>
  </div>  
}