@(validSession: Boolean)

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">GLCS.CH</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
          @validSession match {
            case true => { 
              <li><a href="@routes.Authentication.logout">Logout</a></li>
              <li><a href="#">Profile</a></li>
            }
            case false => { <li><a href="@routes.Authentication.login">Login</a></li> }
          }
        <li>
          <a href="#">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>  