 @(entries: List[Entry])

 <div class="panel panel-default">
  <div class="panel-heading">
    <h4>Readings</h4>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>user</th>
        <th>date</th>
        <th>reading time</th>
        <th>reading</th>
        <th>nutrition</th>
        <th>exercise</th>
      </tr>
    </thead>
    <tbody class="scroll">
      @entries.map { entry =>
      <tr>
        <td>@entry.userId</td> 
        <td>@entry.readingDate</td>
        <td>@entry.readingTime match {
          case 1 => {morning}
          case 2 => {afternoon}
          case 3 => {evening}
          case _ => {NA}
          }</td>
        <td>@entry.reading</td>
        <td>@entry.nutrition match {
          case 1 => {poor}
          case 2 => {adequate}
          case 3 => {good}
          case _ => {NA}
        }</td>
        <td>@entry.exercise match {
          case false => {no}
          case true => {yes}
        }</td>
      </tr>}
    </tbody>
  </table>
</div>